.bigBanner{ margin: 0 auto; position: relative;
  .slick-slide {
    margin: 0; width: 100vw; height: 50vw;
    &>a{ display: block; position: relative;
      &::before{ content: ''; opacity: 0;
        position: absolute; left: 0; right: 0; top: 0; bottom: 0;
        box-shadow: $hilight 0 0 0 3px inset; z-index: 2;
        transition: opacity .2s;
      }
      &:focus{
        &::before{opacity: 1;}
      }
      &:hover{
        img{ transform: scale(1.05);}
      }
    }
    img{ display: block; width: 100%; height: 50vw; object-fit: cover;
      transition:transform .4s;
    }
  }

  .slick-arrow{position: absolute; z-index: 99;
    &.slick-prev{ left: 10px;}
    &.slick-next{right: 10px; }
  }

  .flowNav{ position: absolute; bottom: 24px; z-index: 9;
    left: 0; right: 0; text-align: center;
    ul{list-style: none; margin: 0; padding: 0; border-radius: 20px; overflow: hidden;
      display: inline-block; background-color: transparentize($fontInvert, .4);
    }
    li{ margin: 8px; padding: 0; float: left;
      &::before{ content: ''; display: block;
        width: 8px; height: 8px; border-radius: 50%;transition: .4s;
        border: none; margin: 0; padding: 0;
      }
      &.active{
        &::before{ background: $assistant; box-shadow: $assistant 0 0 0 3px;}
      }
    }
  }
 
  // @media screen and (min-width: $wwSlim){
  //   .slick-slide{ height: 50vw; 
  //     img{ height: 50vw;}
  //   }
  // }

  @media screen and (min-width: $wwMaximum){
    .slick-slide{ width: $wwMaximum; height: $wwMaximum*.5;
      img{height: $wwMaximum*.5;}
    }
  }
}