.category{ 
  @extend %blockWidth; 
  ul{ list-style: none; margin: 0; padding: 0; line-height: 1.1;
    &::after{ content: ''; display: block; clear: both;}
  }
  li{ float: left; margin: 3px;
    a {display: block; 
      color: $fontInvert; background: $primaryColor; text-decoration: none;
       height: 2.6em; line-height: 2.6em; padding: 0 1em;
      border-radius: 1.5em; transition: .2s;
      &:hover, &:focus{ background-color: $assistant; box-shadow: $assistant 0 0 0 2px;}
    }
    &.active{
      a{background-color: $assistant; box-shadow: $assistant 0 0 0 2px;
        // padding-left: 1.4em;
        &::before{content: ''; display: inline-block; vertical-align: middle;
          width: 8px; height: 8px; margin: -3px 6px 0 -6px;
          background-color: $hilight2; border-radius: 50%;}
      }
    }
  }
}