// ---------- 「公路博物館」顏色變數 ---------- //
$primaryColor: #2b2b4b;
$secondaryColor: #39207c;  

$assistant: #5635b2;
$assistant1: $primaryColor;
$assistant2: $primaryColor;
$assistant3: $primaryColor;
$notice: $assistant;
$hilight: #a62bbf;
$hilight2: #fcbf0a;

$sidebarBg : $primaryColor;
$bodyBg: #777;
$webHeaderBg: $primaryColor;
$footerBg: $primaryColor;
$footerBg2: #fff;
$mainBg:#e1e1e1;

// 寬版右上選項
$topNavColor: #fff;
$topNavHover: #fcbf0a;

// 選單
$menuColor: #fff; //第一層選單文字顏色
$menuBgHover: #39207c; //第一層選單項背景色 hover
$menuColorHover:#fff;
$menuColor2: #000; //第二層選單文字顏色
$menuBg2: #fff; //第二層選單背景色
$menuBg2Hover: $primaryColor; //第二層選單背景色
$menuColor2Hover: #fff; //第二層選單文字顏色
$menuDeco: #aca8b5; // 第二層文字前方裝飾bar
$menuDecoHover: #fcbf0a; // 第二層文字前方裝飾bar
$menuBorder: #e1e1e1; // 第二層選單 border
$menuBorderHover: #39207c; // 第二層選單 border:hover

// 行動版選單
$mobileMenuBg: $primaryColor;
$mobileMenuColor:#fff;

// 漢堡按鈕
$burger: #fff; //漢堡選單三條線顏色
$burgerInvert: #000;
$burgerHoverBg: #f3f3f3;

// 文字
$fontColor: #000;
$fontInvert: #fff;
$fontColorLight: #67625c;
$linkColor: #063e8c;

// 匡線、陰影
$borderColor: #b9bdb2;
$borderColorLight: #d6dddf;
$borderColorDark:#3a3f45;
$shadow:#50504c33;
$shadow2:#35343066;

// lp
$lpHover:#e0e9fe;

// 按鈕
$btnBg1: $primaryColor;
$btnBg2: $assistant;

// 通用
$gray: #ddd;
$grayDark: #999;
$white: #fff;

// 半透明
$transDarken: rgba(0, 0, 0, 0.65);
$transLighten: rgba(255, 255, 255, 0.7);

%shadow1{ box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;}
%shadow2{ box-shadow: rgba(0, 0, 0, 0.5) 0 4px 18px -2px;}

// -------------------------
%linkText{ color: $linkColor; text-decoration: none; box-shadow:$linkColor 0 2px 0 -1px;
  &:hover, &:focus{color: $linkColor;}
  &:hover{text-decoration: none; box-shadow:$linkColor 0 3px 0 -1px;}
  &:focus{text-decoration: none; box-shadow:$linkColor 0 0 0 1px;}
}