// ---------- 「公路博物館」顏色變數 ---------- //
$primaryColor: #2b2c4b;
$secondaryColor: #e1e1e1;  

$assistant: #C54938;
$assistant1: $primaryColor;
$assistant2: #209680;
$assistant3: #207297;
$notice: $assistant;
$hilight: #90c207;
$hilight2: #fcbf0a;

$sidebarBg : $primaryColor;
$bodyBg: #dedede;
$webHeaderBg: $primaryColor;
$footerBg: $primaryColor;
$footerBg2: #fff;
$mainBg:#fff;

$fontColor: #000;
$fontInvert: #fff;
$fontColorLight: #67625c;
$linkColor: #035a6a;


$borderColor: #b9bdb2;
$borderColorLight: #dedfd6;
$borderColorDark:#6c705f;
$shadow:#50504c33;
$shadow2:#35343066;

$btnBg1: $primaryColor;
$btnBg2: $hilight;

$gray: #ddd;

$transDarken: rgba(0, 0, 0, 0.65);
$transLighten: rgba(255, 255, 255, 0.7);

%shadow1{ box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;}
%shadow2{ box-shadow: rgba(0, 0, 0, 0.5) 0 4px 18px -2px;}

// -------------------------
%linkText{ color: $linkColor; text-decoration: none; box-shadow:$linkColor 0 2px 0 -1px;
  &:hover, &:focus{color: $linkColor;}
  &:hover{text-decoration: none; box-shadow:$linkColor 0 3px 0 -1px;}
  &:focus{text-decoration: none; box-shadow:$linkColor 0 0 0 1px;}
}