body{
  width: 100vw; max-width:$wwMaximum ; margin: 0 auto; padding: 0;
  font-family: Arial, Helvetica, sans-serif, "微軟正黑體"; font-size: 1em;
  background: $mainBg;
  &.noScroll{ overflow: hidden; overflow-y:hidden; }

  @media screen and (min-width: $wwNormal){
    padding-top: 0;
  }
}
html{ background: #d0d3cd;}
*{box-sizing: border-box;}
a, img{border: none;}
a{ color: $linkColor; text-decoration: underline;
  &:hover, &:focus{text-decoration: none; }
}



// main：版頭和頁腳之間，主要內容區 -------------------------------------------- //
.main{
  position: relative; padding: 0;

  &.inner{padding:0 0 60px;}

  @media screen and (min-width: $wwNormal){
    &.inner{padding-bottom:100px;}

  }
}

// 首頁區塊標題
.blockHeader{ margin: 0 auto; text-align: center; color: $primaryColor; 
  &>h2{ font-size: 2em; line-height: 1.2; margin: 0; letter-spacing: 2px; 
    font-weight: normal;
    *[lang='en']{ display: block;margin-top: .5rem; letter-spacing: 0; 
      font-size: .85em; font-family: 'Times New Roman', Times, serif;
    }
  }
}
// 首頁區塊標題 end
