.flowBox {
  ul{ list-style: none; margin: 0; padding: 0;}
  .flowList{
    &>li{ padding: 0; margin: 0;
      &>a{ display: block; color: $fontColor; text-decoration: none;}
      img{ display: block; border: none;}
    }
  }
}

//.flow2 , .flow3 共用：1.左右箭頭 2.指示點點（或數字）
.flow2 , .flow3 {margin: 0 auto;
  .blockHeader{ position: relative; width: $mmw; margin: 0 auto 10px; padding-right: 6em; text-align: left;
    h2{font-size: 2em;}
    .more{position: absolute; right: 0; bottom: 0; margin: 0;}
  }

  .flowNav{ font-size: 1.2rem; margin:20px 180px 0 5vw;
    ul{ display: flex; flex-flow: row wrap; line-height: 1; color: lighten($fontColorLight, 20%); }
    li{ position: relative; flex: 0 0 1em;
      min-width: 1.5em; margin:5px 4px 0; padding: 4px 5px 6px; 
      text-align: center; transform: scaleX(1.5);
      &::after{content: ''; position: absolute;left:calc(50% - .3em); bottom: 0; 
        height: 4px;  width: 0; transition: .2s;}
      &.active{ color: $primaryColor;
        &::after{width: .6em;background-color: $primaryColor;}
      }
    }
  }
  // 左右箭頭 button
  .diskBtn{ position: absolute; margin-top: 8px; right: 5vw; z-index: 9;
    &.prev{ margin-right: 76px;}
  }

  @media screen and (min-width: $wwNormal){
    .blockHeader{text-align: center; width: 86vw;}
  }

  @media screen and (min-width: $wwMaximum){
    .blockHeader{width: $wwMaximum*.86;}
    .diskBtn{ right: $wwMaximum*.06;}
  }
}


// ----------------------- //
// ----------------------- //


// 寬版顯示兩筆完整，第三筆顯示局部
.flow2{ 
  // margin-bottom: 150px;
  margin: 70px 0;
  ul{list-style: none;margin: 0;padding: 0;}

  .flowBox{ position: relative; overflow: hidden; padding:30px 0 20px;}

  .flowList{display: flex; flex-flow: row nowrap; padding-bottom: 30px;
    &>li{ position: relative; flex: 0 0 76vw ;width: 76vw ; margin-left: 5vw; 
      background: #fff;
      &>a{ display: block; width: 100%; height: 100%; text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;color: $fontColor; transition: .2s;
        &::before{content: ''; position: absolute; left: 0;right: 0;top: 0;bottom: 0; 
          box-shadow: $assistant 0 0 0 2px inset; display: none;}
        &:hover{ box-shadow: rgba(0, 0, 0, 0.3) 0 8px 35px;}
        &:focus::before{ display: block; z-index: 9; }
      }
      .image{width: 100%; height: 57vw; overflow: hidden; position: relative;
        img{ width: 100%; height: 100%; object-fit: cover;}
        header{position: absolute; left: 0; right: 0; bottom: 0;
          padding:30px 20px 18px 40px; margin: 0;
          background: $transDarken; color: $fontInvert;
          &::before{content: ''; position: absolute; left: 25px; top: -10px; width: 2px; height: 72px; background: $primaryColor;}
        }
        h3{ margin: 0; padding: 0; height: 4em;
          font-size: 1rem; font-weight: normal; line-height: 2; text-align: justify;
          display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;
          .status{display: inline-block; padding: 0 .5em; height: 1.8em; line-height: 1.9;
            border-radius: 2px;margin-right: .4em; 
            &.end{background-color: #000; color: #bbb;}
            &.new{ background-color: $assistant;}
          }
        }
      }
      .description{ padding: 1em 15px; line-height: 1.9; text-align: justify;
        time{ display: block; margin: .4em 0 0; color: $primaryColor;}
      }

      .classes{position: absolute; top: 0;right: 0; display: flex;
        &>.label{ flex: 0 0 auto;padding: 0 1.3em; height: 2.5em; line-height: 2.6;
          background-color: $primaryColor; color: $fontInvert; text-align: center;
          min-width: 6.6em; 
          &:nth-child(2){background-color: $assistant2;}
          &:nth-child(3){background-color: $assistant3;}
          &+.label{margin-left: 1px;}
        }
      }
    }

  }

  @media screen and (min-width: $wwMedium ){
    .flowList{
      &>li{ flex-basis: 56vw; width: 56vw;
        .image{height: 42vw}
      }
    }
  }
  
  @media screen and (min-width: $wwNormal){
    margin: 90px auto;
    .blockHeader{ width: $mmw2; }
    .flowBox{ margin-left: 4vw; width: 96vw;}
    .flowList{
      &>li{ flex-basis: 36vw; width: 36vw; margin-left: 3vw;
        .image{height: 27vw;
          header{ padding-left: 48px;
            &::before{ left: 30px;}
          }
        }
      }
    }
    .flowNav{ margin-left:4vw;}

  }

  @media screen and (min-width: $wwMaximum){
    .blockHeader{ width: $wwMaximum*.86; }

    .flowBox{ width: $wwMaximum*.96 ; margin-left: $wwMaximum*.04;}
    .flowList{
      &>li{ flex-basis: $wwMaximum*.36; width: $wwMaximum*.36; margin-left: $wwMaximum*.03;
        .image{height: $wwMaximum*.27;}
      }
    }
    .flowNav{ margin-left: $wwMaximum*.04;}
  }
}