.menu{
  ul{ list-style: none; margin: 0; padding: 0;}
  li{margin: 0; padding: 0;
    a{ display: block;}
  }
}

.topRow .menu {display: none;}


// 行動版側欄
.sidebar{ position: fixed; z-index: 990;
  width: $sideBarWidth; margin-left:$sideBarWidth * (-1);
  top: 72px; bottom: 0; overflow: auto;
  background: $sidebarBg; color: $fontInvert;
  transition: .5s;

  &.reveal{ margin-left:0; }

  a{ color: $fontInvert; text-decoration: none;}

  .menu{ font-size: 1.15em;
    &>ul{ line-height: 1.4;border-bottom: 3px solid #fff8;
      li{ border-bottom: 1px solid #fff4;
        &:last-child{ border-bottom: none;}
        a{ padding: .9em .8em .8em;
          transition: .2s;
          &:hover{ background-color: #0003 }
        }

        &.hasChild{
          &>a{padding-right: 36px; position: relative;
            &::after{ content: ''; position: absolute; right: 15px; top: 1.2em;
              width: 8px; height: 8px; border: 2px solid #fff;
              transform: rotate(45deg); border-left: none; border-top: none;
              transition: .2s;
            }
          }
          &.closeIt>a{
            &::after{ transform: rotate(225deg); top: 1.5em; }
          }
        }

        ul{ 
          display: none; font-size: 1rem;
          border: 1px solid #fff3; margin: 0 8px 8px 1.2em;
        }
      }
      // &>li{
      //   img.deco{display: none;}
      // }
    }
  }

  // topNav
  .topNav{
    ul{ list-style: none; margin: 0; padding: 0;}
    &>ul{display: flex; flex-flow: row wrap; margin: 20px auto 0; width: 92%;
      &>li{ flex: 1 1 45%; margin: 3px;
        a{
          display: block; height: 2.8em; line-height: 2.8;
          border: 1px solid #fff3; text-align: center;
          transition: .2s;
          &:hover, &:focus{ border-color: $hilight; box-shadow: $hilight 0 0 0 1px;}
        }

        img.deco{display: none;}

      }
    }
  }
}

@media screen and (min-width: $wwNormal){
  .sidebar{display: none;}

  // 寬版選單
  .topRow .menu{ display: block; margin:0 5vw;
    a{ color: $fontInvert; text-decoration: none; }

    &>ul{ display: flex; flex-flow: row nowrap; justify-content: flex-end;
      line-height: 1.5; font-size: 1.15em;text-align: center;
      &>li{flex: 1 1 auto;
        margin: 0; position: relative; transition: .2s;
        &:hover{ background: $primaryColor;color: $fontInvert;
          a{color: $fontInvert;}
        }
        &>a{padding:20px .5em 18px; color: $fontColor; white-space: nowrap; 
          &:focus { background: $primaryColor; color: $fontInvert;}
        }
        &.here>a{background: $primaryColor; color: $fontInvert;}

        &>ul{ top: auto; left: 0;} // 第二層選單

        
        ul{ display: none; position: absolute; min-width: 180px; font-size: 1rem;
          text-align: left; width: auto;
          background-color: $secondaryColor; color: $fontInvert;
          box-shadow: #0006 0 5px 20px;
         
          li:last-child>a{border-bottom-color: transparent;}
          li>a{ position: relative;color: $fontInvert; padding: .9em 1em .8em; 
            border-bottom:1px solid rgba(255,255,255,.3); transition: .15s; white-space: nowrap;
            &::after{content: ''; position: absolute; left: 0;top: 0; bottom: 0;width: 4px;  background-color: lighten($primaryColor, 8%);}
            &:hover, &:focus{ border-bottom-color:lighten($hilight, 25%); background-color: $primaryColor;
              &::after{ background-color: lighten($hilight, 25%);}
            }
          }

          li.hasChild{ position: relative;
            &.here>a{background: darken($primaryColor, 12%); color: $fontInvert;
              &:focus{background-color: $primaryColor;}
            }
            &>a{ padding-right: 36px;
              &::before{content: ''; position: absolute;left: auto; right: 13px; top: 1.1em;
                width: 10px; height: 10px; border: 2px solid $fontInvert; transform: rotate(45deg);
                border-left: none; border-bottom: none;
              }
            }

            // 第三層及其之後
            ul{ top: 0; }
          }
        }

      }
    }
  }
  @media screen and (min-width: $wwMaximum){
    .topRow .menu{
      margin-right: 60px; margin-left: 60px;
    }
  }
}