.menu{
  ul{ list-style: none; margin: 0; padding: 0;}
  li{margin: 0; padding: 0;
    a{ display: block;}
  }
}

.topRow .menu {display: none;}


// 行動版側欄
.sidebar{ position: fixed; z-index: 990;
  width: $sideBarWidth; margin-left:$sideBarWidth * (-1);
  top: 66px; bottom: 0; overflow: auto;
  background: $sidebarBg; color: $fontInvert;
  transition: .5s;

  &.reveal{ margin-left:0; }

  a{ color: $fontInvert; text-decoration: none;}

  .menu{ font-size: 1.15em;
    &>ul{ line-height: 1.4;border-bottom: 3px solid #fff8;
      li{ border-bottom: 1px solid #fff4;
        &:last-child{ border-bottom: none;}
        a{ padding: .9em .8em .8em;
          transition: .2s;
          &:hover, &:focus{ background-color: rgba(0, 0, 0, 0.2) }
        }

        &.hasChild{
          &>a{padding-right: 36px; position: relative;
            &::after{ content: ''; position: absolute; right: 15px; top: 1.2em;
              width: 8px; height: 8px; border: 2px solid #fff;
              transform: rotate(45deg); border-left: none; border-top: none;
              transition: .2s;
            }
          }
          &.closeIt>a{
            &::after{ transform: rotate(225deg); top: 1.5em; }
          }
        }

        ul{ 
          display: none; font-size: 1rem;
          border: 1px solid #fff3; margin: 0 8px 8px 1.2em;
        }
      }
      // &>li{
      //   img.deco{display: none;}
      // }
    }
  }

  // topNav
  .topNav{
    ul{ list-style: none; margin: 0; padding: 0;}
    &>ul{display: flex; flex-flow: row wrap; margin: 20px auto 0; width: 92%;
      &>li{ flex: 1 1 45%; margin: 3px;
        a{
          display: block; height: 2.8em; line-height: 2.8;
          border: 1px solid #fff3; text-align: center;
          transition: .2s;
          &:hover, &:focus{ border-color: $hilight; box-shadow: $hilight 0 0 0 1px;}
        }

        img.deco{display: none;}

      }
    }
  }
}

@media screen and (min-width: $wwNormal){
  .sidebar{display: none;}

  // 寬版選單
  .topRow .menu{ display: block; margin:0 5vw;
    a{ color: $menuColor; text-decoration: none; display: block; }

    &>ul{
      display: flex; flex-flow: row nowrap; justify-content: flex-end;
      line-height: 1.5; font-size: 1.15em;
      &>li{
        flex: 1 1 auto;
        margin: 0; position: relative; transition: .2s;
        &:hover{ 
          // background: $primaryColor;color: $menuColor;
          // a{color: $menuColor;}
        }
        &>a{
          padding:20px .5em 18px;color: $menuColor;
          text-align: center; white-space: nowrap; 
          &:focus, &:hover { background: $menuBgHover; color: $menuColorHover; }
        }
        &.here{
          &>a{background: $menuBgHover; color: $menuColorHover; }
        }

        &>ul{ // 第二層選單
          top: auto; left: 0; z-index: 99;
          max-width: 360px; min-width: 100%;
        }
 
        ul{ //  第二層及其之後
          display: none; position: absolute;
          font-size: 1rem;
          background-color: $menuBg2; color: $menuColor2;
          box-shadow: rgba(0, 0, 0, 0.4) 0 5px 20px;
         
          li:last-child>a{border-bottom-color: transparent;}
          li>a{ position: relative;color: $menuColor2; padding: .9em 1.2em .8em; 
            text-overflow: ellipsis; overflow: hidden;white-space: nowrap; transition: .15s; 
            border-bottom:1px solid $menuBorder;
            &::after{
              content: ''; position: absolute; left: 0;top: 0; bottom: 0;width: 4px; 
              background-color: $menuDeco;
            }
            &:hover, &:focus{ 
              background-color: $menuBg2Hover; color: $menuColor2Hover;
              border-bottom-color:$menuBorderHover; 
              &::after{ background-color: $menuBorderHover;}
            }
          }

          li.hasChild{ 
            position: relative;
            &>a{
              padding-right: 36px;
              &::before{content: ''; position: absolute;left: auto; right: 13px; top: 1.1em;
                width: 10px; height: 10px; transform: rotate(45deg);
                border: 2px solid $menuColor2;
                border-left: none; border-bottom: none; 
              }
              &:hover, &:focus{
                &::before{border-color: $menuColor2Hover;}
              }
            }
            &.here{
              background: $menuBg2Hover; color: $menuBg2;
              &>a:focus, &>a{background-color: $menuBg2Hover;color: $menuColor2Hover;
                &::before{border-color: $menuColor2Hover;}
              }
            }
            // 第三層及其之後
            ul{ top: 0; z-index: 99; left: 100%; width: 200px;}

          }
        }
        
      }
    }
    //*** 控制滑出選單向上（下）移動的 button 元件。 20220630 /////
    .xButton {
      position: fixed; top: calc(100vh - 40px); left: 0; z-index: 199;
      width: 36px; height: 36px; margin: 0; padding: 0;
      transform: translateX(calc(-100% - 4px));      
      transition:none;
      border: 2px solid rgba(0,0,0,.6);
      &::before{
        content: ''; position: absolute; width: 8px; height: 8px; top: 50%; left: 50%;
        border: 2px solid #fff; border-left: none; border-top: none;
        transform: translate(-4px, -6px) rotate(45deg);
      }
    }
  }
  @media screen and (min-width: $wwMaximum){
    .topRow .menu{
      margin-right: 60px; margin-left: 60px;
    }
    
    // *** 20220630 *** //
    .topRow .fixed .menu .xButton {
      transform: translateX( calc( -100% - 4px - 50vw + #{$wwMaximum}*.5 ) );
    }

  }
}