// 現在位置
.breadcrumb { 
  @extend %blockWidth; 
  margin-top: 15px; padding: 2px 0; overflow: hidden;
  color:lighten($fontColor, 10) ;
  // &::before{
  //   float: left; content: attr(title)"："; 
  //   color: lighten($fontColor,  10% );
  // }
  ul, li{ list-style: none; margin: 0;padding: 0;}
  ul{ float: left; line-height: 1.2; overflow: hidden; }
  li{float: left; position: relative;
    &:nth-child(n+2){padding-left: 2em;
      &::before{ content: '';position: absolute; left: 1em; top: .1em; 
        width: 2px; height: 1em; background-color: $borderColorDark;
        transform: rotate(20deg);border-bottom: none; border-left: none;
      }
    }
    &:first-child{padding-left: 0;}
    a{display: block; color: $primaryColor; text-decoration: none;
      border-bottom: 2px solid transparent;
        &:hover, &:focus{ color: $assistant; border-bottom-color: $assistant; }
    }
  }
}

// ---------- 內頁標題圖區
.headBanner{display: none;
  @media screen and (min-width: $wwNormal){
    display: block; margin: 0;
    img{display: block;width: 100vw; /* height: 20vw; */ object-fit: cover;}
  }
  @media screen and (min-width: $wwMaximum){
    img{ width: $wwMaximum; /* height: $wwMaximum*.2; */}
  }
}

// ---------- 節點標題+副標題
.pageHeader{
  @extend %blockWidth;
  font-size: 1.55em; color: $primaryColor; 
  margin: 2em auto 1em ; letter-spacing: 2px;
  line-height: 1.5;
  h2{border-bottom: 2px solid $primaryColor; padding: 0; margin: 0;
    .subheading{ display: inline-block; font-size: .8em;}
  }

  // ---------- 分享文章到社群
  .share{ padding-right: 5px; font-size: 1rem;
    ul{ list-style: none; margin: 0;padding: 0;
      display: flex; flex-flow: row wrap; justify-content: flex-end;}
    li{margin:8px 0 4px 8px;padding: 0; float: left; text-indent: -20em;
      a{display: block;width: 40px; height: 40px; transition: .2s;
        &:hover, &:focus{ transform: scale(1.15);}
      }
      img{ display: block; width: 100%; height: 100%; margin: 0 auto;border-radius: 50%; }
      &.back{
        img{background-color: $linkColor;}
      }
      &.print, &.forward{
        img{background-color: $primaryColor;}
      }
    }
  }
  @media screen and (min-width: $wwNormal){
    position: relative; 
    h2{padding-right: 200px;}
    .share{ position: absolute; right: 4px; bottom: .3em;}
  }
}


// ---------- 前言、後記
.preface{ 
  @extend %blockWidth;
  overflow: hidden; line-height: 1.8; margin-bottom: 40px;
  border-bottom: 2px solid $borderColorLight; padding-bottom: 1em;
  &~.preface{margin-top: 3em; margin-bottom: 5em;border-top: 2px solid $borderColorLight; padding-top: 1.5em; }
  img{ float: left;  margin: 0 1em .5em 0;
    width: 45vw; height: auto; max-height: 60vw; object-fit: contain;
    // border: 1px solid $borderColorLight;
    &~ul, &~ol{ margin-left: 45vw;}
  }
  a{ @extend %linkText}
  
  ul, ol{line-height: 1.5; margin-bottom: 1em; margin-top: 0;}
  p{line-height: inherit; margin:0 0 1em;}
  li+li{margin-top: .5em;}
  
  @media screen and (min-width: $wwMedium){
    img{ max-width: 315px; max-height: 420px;
      &~ul, &~ol, &~p{ margin-left: 330px;}
    }
  }

  @media screen and (min-width: $wwNormal){
    padding: 1.5em 0;
    background-color: $transLighten; border: $fontInvert solid 2px;
    &~.preface{border: $fontInvert solid 2px;}
  }
}


// ---------- 以下待分檔 ---------- //
// ---------- 影音內容頁
.videoPlay{ 
  @extend %blockWidth;  margin: 0 auto; padding: 0 0 1em;
  background: #000; color: #fff;
  iframe{ width: 100%; height: $mmw*.5625; margin: 0; display: block;}
  h3{ line-height: 1.5;font-size: 1.3em; margin: 1.5em 15px .4em;clear: both; }
  p{line-height: 1.9; margin: 1em 15px;}
  .classify{ float: right; margin: 15px 15px .8em; padding: 0 .5em; height: 1.8em; line-height: 1.8em; border: 1px solid rgba(255,255,255,.5); border-radius: 4px; }

  @media screen and (min-width: $wwNormal){
    iframe{ height: calc(56.25vw - 118.125px);}
    h3, p{ margin-left: 20px; margin-right: 20px;}
  }

  @media screen and (min-width: $wwMaximum){
    iframe{ height: calc((#{$wwMaximum} - 210px)*.5625);}
  }
}

// 圖與資料
.imgMetaSet{
  @extend %blockWidth; margin: 16px auto; padding:20px 0;
  border: 1px solid $borderColor;
  // outline: 1px solid red;

  .image{ width: 96%; position: relative; margin: 1em auto;
    img{ display: block; width: 100%;}
    .enlarge{ position: absolute; right: 0; bottom: 0;}
  }
  .meta table{width: 96%; margin: 1em auto 0;}
  // .meta{
  //   table{ width: 96%; margin: 1em auto 0;
  //     border-collapse: collapse; line-height: 1.5;
  //     border-top: 2px solid $primaryColor;border-bottom: 2px solid $primaryColor;
  //   }
  //   tr{border-bottom: 1px solid $primaryColor;
  //     &:last-child{border: none;}
  //   }
  //   th, td{padding: .8em .5em .7em;}
  //   th{text-align: right; font-weight: normal; white-space: nowrap;}
  // }

  @media screen and (min-width: $wwMedium){
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    border: none;
     margin: 30px auto;
    .image{ flex: 0 0 49%; margin: 0;
      img{ width: 100%;}
    }
    .meta{ flex: 0 0 49%; margin: 0;
      table{ width: 100%;}
    }

    &:nth-child(even){
      .image{ order: 2;}
    }
  }

  @media screen and (min-width: $wwNormal){
    width: auto;
  }
}

// meta 資料表格 <tr><th>hhh</th><td>ddd</td></tr>
.meta{
  table{ width: 100%; margin: 1em auto 0;
    border-collapse: collapse; line-height: 1.5;
    border-top: 2px solid $primaryColor;border-bottom: 2px solid $primaryColor;

    &+time{
      display: block; margin: .5em auto; text-align: right;
      &::before{
        display: inline-block; content: attr(title)'：'; color: $fontColorLight;
      }
    }
  }
  tr{border-bottom: 1px solid $primaryColor;
    &:last-child{border: none;}
  }
  th, td{padding: .8em .5em .7em;}
  th{text-align: right; font-weight: normal; white-space: nowrap; vertical-align: top;}
  .anotherLabel{
    display: inline-block; background-color: $assistant1; color: $fontInvert; 
    margin-right: .4em; padding: 0 .4em;
    height: 1.7em; line-height: 1.7;
  }

  @media screen and (min-width: $wwNormal){
    th{ width: 10em;}
  }

}

// 驗證碼
.captchaSet{
  margin: 0 0 .5em; justify-content: flex-end;
  display: flex; flex-flow: row wrap; align-items: center;
  input.inputCaptcha{ width: 8em; flex: 1 1 calc(100% - 180px);}
  .captchaImage{  margin: 0 8px 0 0;
    img{ display: block; width: 160px;}
  }
  input[type="button"]{ margin:10px 2px 5px; flex: 0 1 auto;
    border-radius: 1.5em;padding:0 .6em 0 40px;
    background:$primaryColor url(../images/icons.png) no-repeat 0 0;
    background-size: 44px auto;
    &:hover, &:focus{background-color: $assistant;}
  }
  input.voice{background-position: 0 -200px;}
  input.newCode{background-position: 0 -250px;}

  @media screen and (min-width: $wwNormal){
    input.inputCaptcha{flex-basis: calc( 100% - 284px - 10em);}
    input[type="button"]{ margin-top: 5px;}
  }
}


// 條列上方的查詢
.searchHere{ width: $mmw; margin: 0 auto 2em; padding:1.2em 1em;
 background-color: $transLighten;
 box-shadow: #0003 0 0 16px;
 input[type="button"], input[type="submit"]{
   height: 2.6em; width: auto;
 }
 form{ display: flex; flex-flow: row wrap;
  select{ flex: 1 1 45%;}
  input[type="text"]{ flex: 1 1 60%; width: auto;}
 }

 @media screen and (min-width: $wwMedium){
   form{ max-width: 40em; margin: 0 auto;
    select{ flex: 1 1 5em;}
    input[type="text"]{ flex: 1 1 calc(100% - 20em);}  
   }
 }

 @media screen and (min-width: $wwNormal){
   width: auto;
 }
}