// 首頁的影音區塊
.videoPreview{
  margin: 0 auto 3em;  padding:0; width: 87vw;
  .blockHeader{ text-align: center; display: block;}
  .preview{padding-top: 35px;
    &>a{position: relative; display: block; color: $fontColor; text-decoration: none; 
      &::before, &::after{ content: ''; position: absolute;left: calc(50% - 32px); top: calc(28vw - 32px); 
        transition:background .3s , border-color .3s;}
      &::before{
        width: 64px; height: 64px;border-radius: 50%; 
        background: #fffb; z-index: 8;
      }
      &::after{
        width: 1px; height: 1px;margin: 20px 0 0 26px;
        border-style: solid; border-width: 12px 0 12px 18px;
        border-color: transparent transparent transparent $fontColor;
        z-index: 9;
      }
      &:hover, &:focus{
        &::before{background: $assistant;}
        &::after{border-left-color: $fontInvert;}
        text-decoration: underline;
      }
      &:focus{
        outline: 2px solid $assistant;
      }
    }
  }
  .image{position: relative; padding: 0; margin: 0 0 2em;
    .type{
      position: absolute; right: -15px;top: -35px; width: 6em; line-height: 1.5;
      background: url(../images/polyColor1.svg) no-repeat center center; color: #fff; 
      background-size: contain;
      padding: 22px 2em;
    }
    img{ 
      display: block; margin:0; width: 87vw; height: 56vw; object-fit: cover;
      box-shadow: #0006 0 0 30px;
    }
  }
  .brief{ line-height: 1.9;
    h3{ font-size: 1.3em; margin: 0;}
    p{
      overflow: hidden; display: -webkit-box;
      -webkit-line-clamp: 5; -webkit-box-orient: vertical;
    }
  }


  @media screen and (min-width: $wwMedium){
    .preview>a{
      display: flex; align-items: flex-end;
      &::before, &::after{ left: calc(25vw - 32px); top: calc(16vw - 32px);}
    }

    .image{
      flex: 0 0 51%; margin:0 4% 1.3em 0;
      img{width: 50vw; height: 32vw;}
      .type{right: -25px;}
    }
    .brief{ flex: 1 1 40%; }
  }

  @media screen and (min-width: $wwMaximum){
    width: calc(#{$wwMaximum} - 160px);
    .preview>a{
      &::before, &::after{ left:248px; top: 148px;}
    }
    .image{ 
      img{ width: 560px; height: 360px;}
      .type{right: 5px;}
    }
  }

}