// ---------- 長度常數 ---------- //
// $sideStripe : 100px;  //寬版 logo 區寬度
$sideBarWidth: 280px;  // 行動版側欄選單


// ---------- 長度常數 ---------- //

// ---------- RWD 斷點 ---------- //
$wwSlim: 480px;
$wwMedium: 700px;
$wwNormal: 960px;
$wwMaximum: 1200px;
// ---------- RWD 斷點 ------------- //

$mmw: 92vw; // 行動版內頁模組寬度 modeles width in mobile
$mmw2: 86vw; 
$mmwMaximum: $wwMaximum*.86;

%blockWidth {
  width: 92vw; margin: 30px auto;
  @media screen and (min-width: $wwNormal){
    width: 86vw;
  }
  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*.86;
  }
}
