@import "_widthVar.scss"; // 長度變數

@import "_colorVar_thm"; // 「公路博物館」顏色變數
@import "_default";
@import "_elements";
@import "_modules";
@import "_webHeader";
@import "_bigBanner";
@import "_menu";
@import "_visionTab"; // 首頁「願景」頁籤
@import "_tiles"; // 首頁「公民參與」方塊矩陣
@import "_stacks"; // 首頁「景觀區、聚落區、生態友善區」堆疊區塊
@import "_data"; // 首頁「公路數據知多少」2023

@import "_webFooter";
@import "_form";
@import "_formLayout";
@import "_flow2"; // 最新公告（兩個半）
@import "_flow3"; // 計劃路線進度
@import "_category";
@import "_np";
@import "_lp";
@import "_article"; // cp頁用
@import "_project"; // sp頁用（計畫分類內容頁）
@import "_thumbnail"; // 相簿
@import "_paginations";
@import "_imgSlicks"; // 使用 slick 套件的模組
@import "_lightbox"; // 燈箱
@import "_sitemap";
@import "_steps"; // 步驟
@import "_notice"; // 同意書



.blockHeader>h2{ font-weight: bold;
  *[lang='en']{ font-weight: normal; color: $fontColorLight;}
}

.stacks{
  .board ul::after{ background-color: #e1e1e1;}
}
.webFooter{
  @media screen and (min-width: $wwSlim){
    .contact{border-left: none;}
  }
}
.siteTree{
  &>ul{ justify-content: center;}
  @media screen and (min-width: $wwNormal){
    padding-bottom: 120px;
    background: url(../images/footer_bg_thm.png) no-repeat left 0 bottom -20px;
    &>ul>li{width: 8em;}
    &.short{
      padding-bottom: 20px; padding-right: 5vw;
      background-position: left 0 bottom -220px;
    }
  }
  @media screen and (min-width: $wwMaximum){
    &.short{padding-right: $wwMaximum*.05;}
  }
}

.project .tabset {
  .tabItems button{ background-color: $white; }
}

.twoFigs, .threeFigs{ box-shadow: none;}
