@use 'sass:color';

@import "_widthVar"; // 長度變數
@import "_colorVar_suhua"; // 「蘇花公路」顏色變數

@import "_default";
@import "_elements";
@import "_modules";
@import "_webHeader";
@import "_bigBanner";
@import "_menu";
@import "_visionTab";   // 首頁「願景」頁籤
@import "_tiles"; // 首頁「公民參與」方塊矩陣
@import "_stacks"; // 首頁「景觀區、聚落區、生態友善區」堆疊區塊
@import "_data"; // 首頁「公路數據知多少」

@import "_webFooter";
@import "_form";
@import "_formLayout";
@import "_flow2"; // 最新公告（兩個半）
@import "_flow3"; // 計劃路線進度
@import "_category";
@import "_np";
@import "_lp";
@import "_article"; // cp頁用
@import "_project"; // sp頁用（計畫分類內容頁）
@import "_thumbnail";
@import "_paginations";
@import "_imgSlicks"; // 使用 slick 套件的模組
@import "_lightbox"; // 燈箱
@import "_sitemap";

// 首頁區塊標題
.blockHeader{
  &>h2{ 
    font-weight: bold;
    *[lang='en']{ 
      font-size: .75em; font-weight: normal;
    }
  }
}


.vision .blockHeader h2{
  background-color: $primaryColor;
}

.stacks{
  .board{
    h3{ 
      font-family: 'Times New Roman', Times, serif; 
      font-weight: bold;
      letter-spacing: .05em;
      text-shadow: rgb(0 0 0 / .85) 0 2px 3px 2px;
    }
    ul::after {
      background-color: #629b28;
    } 
  }
  @media screen and (min-width: $wwNormal){
    .board{
      h3{ 
        flex-basis: 34%;
        span {font-size: inherit;}
      }
      ul{ flex-basis: 66%;}
    }
  }
}

.flow2{
  .flowList>li{
    .image header::before {
      background-color: $hilight;
    }
  }
}

.flow3{
  .flowList>li {
    .progress::before {background-color: $hilight;}
  }
}

.siteTree{
  &>ul{
    gap: 4%;
    &>li{ flex: 0 0 48%; margin-left: 0; margin-right: 0; }
  }
  @media screen and (min-width: $wwMedium){
    &>ul{
      gap: 2%;
      &>li{ flex-basis: 23.5%; }
    }
  }
  @media screen and (min-width: $wwNormal){
    &>ul{
      &>li{
        min-width: 6.5em;
        flex-basis: 12.6%;
        &:nth-child(7n) {flex-basis: 12.4%;}
      }
    }
    &.short{ padding-top: 0;}
  }
}
